.grid-container {
  display: grid;
  margin: 30px;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.grid-item {
  background-color: rgb(177, 207, 235);
  padding: 2rem;
  text-align: center;
}
